@charset "utf-8";

:root {
    /* color */
    --white-color-: #fff;
    --black-color-: #333;
    --blue-color-: #0079E3;
    --yellow-color-: #FBDA6F;
    --green-color-: #BAD562;
    --light-gray-color-: #ccc;
    --dark-gray-color-: #6e6e6e;
    --gray-color-: #909090;
    --brown-color-: #6b460b;
    /* spacing */
    /* --margin-spacing-:;
    --padding-spacing-:; */
    --regular-spacing-: 8px 12px;
    ---text-line-height-: 28px;
    /* font-size */
    --small-font-: 13px;
    --regular-font-: 15px;
    --midium-font-: 17px;
    --large-font-: 19px;
    --title-font-: 29px;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard Std', '맑은 고딕', '돋움', sans-serif;
    font-size: var(--regular-font-);
    color: var(--black-color-);
    background: var(--whitbackground-positionte-color-);
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    display: block;
    color: var(--black-color-);
    text-decoration: none;
}

img {
    vertical-align: top;
}

/* class */
.w1280 {
    min-width: 1280px;
    width: 1280px;
    margin: 0 auto;
}

.clearFix:after {
    display: block;
    content: "";
    clear: both;
}

/* ---- */

.layout{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.layout div{
    width: 10PX;
    height: 1080px;
}
/* 
.layout div:nth-of-type(odd){
    background: rgba(255, 2, 2, 0.5);
} */
.layout div:last-child{
    height: 740px;
}
/* -------------------------- */
header {
    padding: 30px 0;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9000;
    min-width: 1280px;
}

header>div.w1200 {
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 40px;
    color: var(--white-color-);
    line-height: 40px;
}

header .mainNav {
    color: var(--white-color-);
    width: 500px;
}

header .mainNav>ul {
    display: flex;
    justify-content: space-between;
}

header .mainNav>ul>li>a {
    color: var(--white-color-);
    line-height: 40px;
    font-size: var(--large-font-);
}

header .mainNav>ul>li>a:hover {
    color: var(--yellow-color-);
}

header.hide {
    display: none;
}

/* all menu */
.all-menu {
    font-size: 40px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    position: fixed;
    width: 500px;
    top: 30px;
    right: 30px;
    z-index: 20000;
    display: none;
}

.all-menu nav>ul {
    display: flex;
    flex-direction: row-reverse;
}

.all-menu .menu-bar {
    font-size: 30px;
    color: var(--white-color-);
    margin-left: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.all-menu .menu-bar i:hover {
    color: var(--yellow-color-);
}

.all-menu .subNav {
    display: flex;
    justify-content: space-between;
}

.all-menu .subNav li {
    float: left;
    margin-left: 40px;
}

.all-menu .subNav.hide {
    display: none;
}

.all-menu .subNav a {
    font-size: var(--large-font-);
    color: var(--white-color-);
    line-height: 40px;
}

.all-menu .subNav a:hover {
    color: var(--yellow-color-);
}

.all-menu a.turning-white {
    color: var(--white-color-);
}

.all-menu a.turning-black {
    color: var(--blakc-color-);
}
/* 전체 페이지 한번에 보기 버튼  */
.indexBg{
    position: fixed;
    background: #474747;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    z-index: 8000;
    display: none;
}
.page-index is-active {
    display: block;
}
.page-index {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9999999;
    padding-right: 20px;
    box-sizing: border-box;
    display: none;
    background: rgba(34, 34, 34, 0.9);
}


.closeBtn {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    right: 4.5%;
    top: 3.2%;
}

.closeBtn i{
    color: #ddd;
}

.closeBtn:hover i{
    color: white;
    scale: 1.1;
}

.page-index .page-title {
    margin: 12% 0 3% 10%;
    font-size: 40px;
    line-height: 40px;
    display: block;
    color: white;
}

.page-index .sub-title {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 8% 10%;
    color: white;
}

.page-index .sub-title .highlight {
    font-weight: 700;
}

.page-index .list {
    padding: 0 2rem ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    height: 70%;
    cursor: pointer;
}
.page-index .list li{
    display: block;
    /* background: #ccc; */
}
/* 스크롤바 스타일링 */
.page-index .list::-webkit-scrollbar {
    /* background: #FA7A34; */
    width: 10px;
}

.page-index .list::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    /* background: #374351; */ /* 스크롤바의 색상 */
    background: #888;
    border-radius: 10px;
}

.page-index .list::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

.page-index .list::-webkit-scrollbar-track {
    background: rgba(113, 113, 116, );  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.page-index .list .item {
    margin: 1% 0;
    height: 200px;
    box-sizing: border-box;
}

.page-index .list .item .thumb {
    background: #eee;
    height: 135px;
    width: 240px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.page-index .list .item .thumb img {
    width: 240px;
    height: 135px;
    object-fit: fill;
}

/* 썸네일 이미지 호버 효과 */
.page-index .list .item .slide img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.page-index .list .item .slide:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.page-index .list .item .caption .index {
    font-weight: 500;
    margin-bottom: 3px;
    color: white;
}

.page-index .list .item .caption .description {
    font-weight: 300;
    color: white;
}
/* 위/아래로 가기 버튼 */
.btn {
    position: absolute;
    z-index: 999999;
    right: 30px;
    bottom: 30px;
    position: fixed;
    display: none;
    text-align: center;
}
.btn > ul {
    display: flex;
    flex-direction: column;
}

.btn ul li {
    width: 40px;
}
.btn ul li:first-child{
    margin-bottom: 20px;
}
.btn ul li a{
    height: 40px;
    text-align: center;
    color: #333;
}
.btn ul li a:hover{
    color: var(--yellow-color-);
}
.btn a.turning-white {
    color: var(--white-color-);
}
.btn a.turning-black {
    color: var(--blakc-color-);
}
.btn ul li a i {
    line-height: 40px;    
}


/* p01 */
/* 메인페이지 */
.part01 {
    background-image: url(svg/mainBg.svg);
    background-repeat: repeat-x;
    height: 3240px;
    position: relative;
}

/* 벌 배경 */
.part01 .starry{
    max-width: 1280px;
}
.part01 .starry i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.part01 .txt-box01 {
    font-size: var(--midium-font-);
    color: var(--white-color-);
    line-height: 180%;
    text-align: center;
    margin-top: 200px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(30%);
    z-index: 400;
}
.part01 .w1280{
    position: relative;
    height: 2160px;
}
/* earth */
.part01 .earth {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-80%);
    z-index: 1;
}


.part01 .sunrise {
    position: absolute;
    width: 100%;
    height: 220px;
    top: 50%;
    left: -30%;
    z-index: 4;
}

.part01 .sunrise .sun {
    position: absolute;
    background-color: transparent;
    animation: showSun 1s ease;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.part01 .sun::after{
    content: url(svg/p02_sun.svg);
    display: block;
}
@keyframes showSun {
    from {
        offset-distance: 0%;
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        offset-distance: 100%;
        opacity: 1;
        transform: scale(1);
    }
}

.part01 .sunrise .txt-box02 {
    position: absolute;
    width: 350px;
    left: 220px;
    top: 340px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 160%;
    animation: showText 1.5s;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-play-state: paused;
    z-index: 10;
    left: 50%;
    transform: translateX(-12%);
}

@keyframes showText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.part01 .sunrise .txt-box02 span {
    font-size: 1.0rem;
    font-weight: 400;
    float: right;
}
.part01 .sunrise .txt-box02 .comma01 {
    position: absolute;
    top: -50%;
    left: -20%;
    height: 25%;
    width: 25%;
}
.part01 .sunrise .txt-box02 .comma01 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.part01 .sunrise .txt-box02 .comma02 {
    position: absolute;
    bottom: -50%;
    right: -10%;
    height: 25%;
    width: 25%;
}
.part01 .sunrise .txt-box02 .comma02 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.part01 .spotlight {
    position: absolute;
    z-index: 3;
    top: 57%;
    right: 50%;
    z-index: 3;
    animation: showSpotlight 0.4s;
    animation-fill-mode: both;
    animation-delay: 1.4s;
    animation-play-state: paused;
}

@keyframes showSpotlight {
    from {
        transform: translateX(10%);
        scale: 0;
        opacity: 0;
    }

    to {
        transform: translateX(60%);
        scale: 0.9;
    }
}

/* einstein */
.part01 .einstein {
    position: absolute;
    top: 73.4%;
    right: 50%;
    transform: translateX(90%);
    z-index: 150;
    animation: showEinstein 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes showEinstein{
    from {
        transform: translateX(0);
        opacity: 0;
    }

    to {
        transform: translateX(90%);
        opacity: 1;
    }
}

.part01 .moon {
    position: absolute;
    top: 64%;
    right: 16%;
    z-index: 150;
    animation: showMoon 0.5s;
    animation-delay: 2.2s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes showMoon {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.part01 .atom {
    position: absolute;
    top: 70%;
    right: 8%;
    z-index: 150;
    animation: rotateAtom 3s linear;
    animation-delay: 2.2s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes rotateAtom {
    from {
        opacity: 0;
        transform: rotate(0);
    }

    to {
        opacity: 1;
        transform: rotate(360deg)
    }
}

/* p03 */
/* 이상기후에 의한 꿀벌 소식 */
.p03_cloud img{
    position: absolute;    
    transform: scale(1.1);
}
/* p03 */
/* 이상기후에 의한 꿀벌 소식 */
.p03_cloud img{
    position: absolute;    
    transform: scale(1.1);
}

.p03_cloud .p03Cloud01{
    bottom: 27%;
    left: 15%;
    animation: movecloud 6s linear reverse infinite;
}
.p03_cloud .p03Cloud02{
    bottom: 26%;
    right: 15%;
    animation: movecloud 5s linear infinite;
}
.p03_cloud .p03Cloud03{
    bottom: 22.5%;
    right: 29%;
    animation: movecloud 6s linear infinite;
}
.p03_cloud .p03Cloud04{
    bottom: 19%;
    left: 25%;
    animation: movecloud 4s linear reverse infinite;
}
.p03_cloud .p03Cloud05{
    bottom: 11%;
    left: 8%;
    animation: movecloud 5s linear reverse infinite;
}
.p03_cloud .p03Cloud06{
    bottom: 7%;
    right: 20%;
    animation: movecloud 6s linear infinite;
}

@keyframes movecloud {
    0% {
        transform: translateX(0);
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.part01B {
    top: 77%;
    position: absolute;
    max-width: 400px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.part01B .slide-wrap{
    position: relative;
    width: 400px;
    height: 400px;
}
.part01B .slider-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 60px;
    z-index: 100;
}
.part01B .slider-button ul .prev{
    position: absolute;
    top: -30px;
    left: -50px;
}
.part01B .slider-button ul .next{
    position: absolute;
    top: -30px;
    right: -50px;
}
.part01B .slider-button ul > li > a{
    background: var(--white-color-) ;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
}
.part01B .slider-button ul > li > a.active{
    color: var(--yellow-color-);
}
.part01B .text-slider{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
.part01B .text-wrap{
    width: 1600px;
    margin-left: -400px;
}
.part01B .text-wrap li{
    width: 400px;
    height: 400px;
    float: left;
}
.part01B .text-wrap .txt-box03{
    font-size: var(--large-font-);
    background: var(--white-color-);
    line-height: 180%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

/* p04 */

/* 피비소개 */
.part02 {
    min-width: 1280px;
    background-image: url(svg/p04/p04_bg.svg);
    background-repeat: repeat-x;
    background-position: bottom;
}

.part02 .w1280 {
    position: relative;
    height: 1080px;
}

.part02 .p04_pibi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    z-index: 100;
}

.part02 .txtballoon {
    width: 430px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    left: 59%;
    top: 16%;
}

.part02 .txt-box04 {
    position: absolute;
    top: 65px;
    font-size: var(--midium-font-);
    line-height: 160%;
}

.part02 .comma01 {
    position: absolute;
    top: 20%;
    left: 8%;
    height: 9%;
    width: 9%;
}

.part02 .comma01 img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.part02 .comma02 {
    position: absolute;
    bottom: 28%;
    right: 8%;
    height: 9%;
    width: 9%;
}

.part02 .comma02 img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.part02 .click-bee {
    position: absolute;
    bottom: 47%;
    left: 11.5%;
}
.part02 .click-bee .move-bee {
    position: absolute;
    margin-left: 60px;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}
.part02 .click-bee .move-bee::after {
    content: url(./svg/moveBee.svg);
    display: block;
}
@keyframes moveto {
    from {
        offset-distance: 0%
    }

    to {
        offset-distance: 100%;
    }
}

.part02 .click-bee #arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #FEA832;
    top: 0;
    left: 0%;
    padding: 4px 0;
    text-align: center;
}

.part02 .txt-box05 {
    position: absolute;
    bottom: 49%;
    left: 8%;
    line-height: 180%;
}


.part02 .txt-box05 ul li:first-child{
    display: block;
}
.part02 .txt-box05 ul li:first-child span{
    background: var(--yellow-color-);
}
.part02 .txt-box05 ul li:last-child{
    display: none;
}
.part02 .txt-box05 ul li:last-child span{
    font-size: 20px;
}

.part02 .honeycomb {
    position: absolute;
    bottom: 52%;
    left: -26%;
    z-index: 1000;
}
.part02 .honeycomb .movehoneycomb {
    position: absolute;
    background-color: transparent;
    offset: path('M.19,.46S108.86,45.33,108.86,194.16c44.25-79.26,182.13-43.45,200.27,0,11.9-19.07,85.04-34.7,123.12,0,39.29-22.82,61.05-6.56,67.12,0') auto;
    animation: movehive 2.2s ease-in-out;
    animation-fill-mode: both;
    offset-rotate: 0deg;
    animation-play-state: paused;
}
.part02 .honeycomb .movehoneycomb::after {
    content: url(svg/p04/p04_hive.svg);
    display: block;
}
@keyframes movehive {
    0% {
        opacity: 0;
        offset-distance: 0%
    }

    10% {
        opacity: 1;
    }

    100% {
        offset-distance: 100%;
    }
}

.part02 .honey {
    position: absolute;
    bottom: 20%;
    right: 0%;
}

.part02 .txt-box06 {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}

.part02 .scrollBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    width: 20px;
    height: 60px;
    z-index: 9999999999;
}

.part02 .scrollBtn a {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #333;
    border-right: 4px solid #333;
    transform: rotate(45deg);
    animation: scrollDown 2s infinite;
}


@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* 기후변화란 */
.river {
    width: 1280px;
    /* height: 6480px; */
    margin: 0 auto;
}

/* p05 */
.part03 {
    width: 1280px;
    height: 6480px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.part03 .p05_pibi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6%;
    z-index: 100;
}

/* p05_image */
.part03 .climatechange {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: center;
    z-index: 6;
    top: 6.4%;
}

.part03 .l_cloud01 {
    position: absolute;
    left: 12%;
    top: 4%;
    animation: move 8s linear reverse infinite;
}

.part03 .l_cloud02 {
    position: absolute;
    left: 38%;
    top: 5.5%;
    animation: move 8s linear reverse infinite;
}

.part03 .l_cloud03 {
    position: absolute;
    left: 28%;
    top: 6%;
    animation: move 6s linear reverse infinite;
}

.part03 .l_cloud04 {
    position: absolute;
    left: 10%;
    top: 8.5%;
    animation: move 7s linear reverse infinite;
}

.part03 .d_cloud01 {
    position: absolute;
    top: 6%;
    right: 17%;
    animation: move 6s linear infinite;
}

.part03 .d_cloud02 {
    position: absolute;
    top: 7.5%;
    right: 21%;
    animation: move 5s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
        opacity: 0;
    }

    to {
        transform: translateX(100%);
        opacity: 1;
    }
}

.part03 .exhaust01 { /* 6 */
    position: absolute;
    top: 3.6%;
    right: 40%;
    animation: moveExhaust 7.5s infinite ease;
}

.part03 .exhaust02 { /* 4 */
    position: absolute;
    top: 4.3%;
    right: 29%;
    animation: moveExhaust 6s infinite ease;
}

.part03 .exhaust03 { /* 5 */
    position: absolute;
    top: 4.9%;
    right: 25%;
    animation: moveExhaust 6.5s infinite ease;
}

.part03 .exhaust04 { /* 3 */
    position: absolute;
    top: 5.2%;
    right: 35%;
    animation: moveExhaust 5s infinite ease;
}

.part03 .exhaust05 { /* 2 */
    position: absolute;
    top: 5.8%;
    right: 38.5%;
    animation: moveExhaust 4s infinite ease;
}

.part03 .exhaust06 { /* 1 */
    position: absolute;
    top: 6.3%;
    right: 40.7%;
    animation: moveExhaust 3s infinite ease;
}

.part03 .exhaust07 { /* 8 */
    position: absolute;
    top: 6.3%;
    right: 32%;
    animation: moveExhaust 4.5s infinite ease;
}

.part03 .exhaust08 { /* 7 */
    position: absolute;
    top: 6.8%;
    right: 34.5%;
    animation: moveExhaust 4s infinite ease;
}

@keyframes moveExhaust {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
        opacity: 0;
    }
}


.part03 .bird01 {
    position: absolute;
    top: 7.4%;
    left: 15%;
    animation: floating 3s ease-in-out infinite;
}

.part03 .bird02 {
    position: absolute;
    top: 7.8%;
    left: 31%;
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 10px);
    }
}

/* river svg */
.part03 .line-container {
    position: absolute;
    top: 11.5%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.part03 .txtbox.txt00 {
    position: absolute;
    z-index: 100;
    top: 5.25%;
    left: 0;
    width: 32%;
    /* display: none; */
}

/* txtbox------------- */
.txtbox {
    background: rgba(247, 247, 247, 0.7);
    border-radius: 15px;
    padding: 40px;
    text-align: start;
    line-height: 180%;
    width: 400px;
    box-sizing: border-box;
    position: relative;
}

.txtbox .txt-title {
    font-size: var(--large-font-);
    font-weight: bold;
    border-bottom: 1px solid var(--gray-color-);
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.txtbox .txt span {
    color: var(--blue-color-);
}

.txtbox h4 {
    font-weight: 500;
    font-size: var(--midium-font-);
    margin-bottom: 10px;
}

.txtbox .subtxt {
    padding-top: 20px;
    font-size: 11px;
    line-height: 160%;
}

.txtbox button {
    display: block;
    background: var(--green-color-);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: var(--white-color-);
    margin: 30px auto;
    cursor: pointer;
}

.txtbox button:hover {
    opacity: 70%;
}

.txtbox ul {
    text-align: left;
    width: 260px;
    margin: 0 auto;
    display: none;
}

.txtbox ul>li {
    line-height: 180%;
}

/* ------------------ */

/* title---------- */
.title {
    text-align: left;
}

.title h2 {
    font-size: var(--title-font-);
    font-weight: bold;
    color: var(--brown-color-);
    margin-bottom: 8px;
}

.title h3 {
    font-size: var(--midium-font-);
    font-weight: normal;
}

/* --------------- */



/* 기후변화의 원인 페이지  */
/* p06 */
/* p06_image */

.part03 .p06_pibi {
    position: absolute;
    top: 22.8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.part03 .volcano-wrap{
    position: absolute;
    width: 470px;
    height: 380px;
    top: 26%;
    left: 0;
    z-index: 100;
}
.part03 .volcano-wrap .volcano-bub{
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100px;
}
.part03 .volcano-wrap .volcano-bub img{
    position: absolute;
}
.part03 .volcano-wrap .volcano-bub .bub01{
    top: 0%;
    right: 38%;
    animation: smokeMove 4.3s ease infinite;
    animation-delay: 0.8s;
}
.part03 .volcano-wrap .volcano-bub .bub02{
    top: 16%;
    right: 30%;
    animation: smokeMove 4.2s ease infinite;
    animation-delay: 0.7s;
}
.part03 .volcano-wrap .volcano-bub .bub03{
    top: 40%;
    right: 34%;
    animation: smokeMove 4.1s ease infinite;
    animation-delay: 0.3s;
}
.part03 .volcano-wrap .volcano-bub .bub04{
    top: 70%;
    right: 31%;
    animation: smokeMove 4s ease infinite;
}
.part03 .volcano-wrap .volcano-bub .bub05{
    top: 36%;
    right: 18%;
    animation: smokeMove2 3.8s ease infinite;
    animation-delay: 0.3s;
}
@keyframes smokeMove{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
        opacity: 0;
    }
}
@keyframes smokeMove2{
    from{
        transform: scale(1);
        right: 20%;
        top: 40%;
    }
    to{
        transform: scale(1.1);
        opacity: 0;
    }
}
.part03 .volcano-wrap .volcano-gas{
    width: 100%;
    height: 130px;
    z-index: 750;
}
.part03 .volcano-wrap .volcano-gas img{
    position: absolute;
}
.part03 .volcano-wrap .volcano-gas .gas01{
    top: 8%;
    left: 66%;
    animation: gasMove 6s linear infinite ;
    opacity: 0;
}
.part03 .volcano-wrap .volcano-gas .gas02{
    top: 14%;
    left: 64%;
    animation: gasMove2 6s ease-out infinite ;
    animation-delay: .8s;
}
.part03 .volcano-wrap .volcano-gas .gas03{
    top: 13%;
    left: 68%;
    animation: gasMove3 6s ease-out infinite ;
}
.part03 .volcano-wrap .volcano-gas .gas04{
    top: 18%;
    left: 73%;
    animation: gasMove4 6s ease-in infinite ;
}
.part03 .volcano-wrap .volcano-gas .gas05{
    top: 22%;
    left: 68%;
    animation: gasMove5 6s ease-in infinite ;
    animation-delay: .3s;
}
@keyframes gasMove{
    0%{
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(-180px);
        opacity: 0;
    }
}
@keyframes gasMove2{
    0%{
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(-130px);
        opacity: 0;
    }
}
@keyframes gasMove3{
    0%{
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(95px);
        opacity: 0;
    }
}
@keyframes gasMove4{
    0%{
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(65px);
        opacity: 0;
    }
}
@keyframes gasMove5{
    0%{
        transform: translateX(0%);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateX(-95px);
        opacity: 0;
    }
}

.part03 .volcano-wrap .volcanoSmoke{
    position: absolute;
    top: 12%;
    right: 18.8%;
    z-index: 800;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke01{
    width: 24px;
    height: 24px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 37%;
    animation: volcanoSmoke2 0.5s alternate infinite;
    animation-delay: 0.4s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke02{
    width: 30px;
    height: 30px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 8%;
    animation: volcanoSmoke1 0.5s alternate infinite;
    animation-delay: 0.2s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke03{
    width: 30px;
    height: 30px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 9%;
    right: 0%;
    animation: volcanoSmoke1 0.5s alternate infinite;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke04{
    width: 22px;
    height: 22px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 14%;
    animation: volcanoSmoke2 0.5s alternate infinite;
    animation-delay: 0.1s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke05{
    width: 22px;
    height: 22px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 14%;
    animation: volcanoSmoke2 0.5s alternate infinite;
    animation-delay: 0.2s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke06{
    width: 20px;
    height: 20px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 21%;
    left: 9.5%;
    animation: volcanoSmoke2 0.5s alternate infinite;
    animation-delay: 0.4s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke07{
    width: 28px;
    height: 28px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 8.5%;
    left: 0%;
    animation: volcanoSmoke1 0.5s alternate infinite;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke08{
    width: 26px;
    height: 26px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 22%;
    animation: volcanoSmoke2 0.5s alternate infinite;
    animation-delay: 0.1s;
}
.part03 .volcano-wrap .volcanoSmoke .volcanoSmoke09{
    width: 28px;
    height: 28px;
    background: #95969C;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 43%;
    animation: volcanoSmoke1 0.5s alternate infinite;
    animation-delay: 0.3s;
}
@keyframes volcanoSmoke1{
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes volcanoSmoke2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
.part03 .volcano-wrap .volcano-spark{
    position: absolute;
    top: -9.5%;
    right: 33.3%;
    z-index: 900;
    animation: shake 0.2s linear infinite;
}
@-webkit-keyframes shake { 
	0% 		{ -webkit-transform: translate(55px, 135px) rotate(7deg); }
	20% 	{ -webkit-transform: translate(55px, 135px) rotate(0deg); }
	40% 	{ -webkit-transform: translate(55px, 135px) rotate(-7deg); }
	60% 	{ -webkit-transform: translate(55px, 135px) rotate(0deg); }
	100% 	{ -webkit-transform: translate(55px, 135px) rotate(0deg); }
}

.part03 .volcano-wrap .volcanoBody{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
.part03 .volcano-wrap .volcanoBody .volcanoTop{
    background-image: url(svg/p05-10/p06_volcanotop.svg);
    background-repeat: no-repeat;
    width: 85px;
    height: 213px;
    position: absolute;
    top: 3.9%;
    right: 21.1%;
    transform: scale(1.1);
}
.part03 .volcano-wrap .volcanoBody .volcanoTop .ma01{
    position: absolute;
    top: 19.5%;
    left: 0%;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    background: #FA7A34;
    animation: magmaDrop1 4s ease-out  infinite ;
}
@keyframes magmaDrop1{
    0%{
        opacity: 1;
    }
    50%{
        height: 27px;
    }
    100%{
        height: 47px;
    }
}
.part03 .volcano-wrap .volcanoBody .volcanoTop .ma02{
    position: absolute;
    top: 18%;
    left: 40%;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    background: #FA7A34;
    animation: magmaDrop2 5s ease-out  infinite ;
    animation-delay: 0.2s;
}
@keyframes magmaDrop2{
    0%{
        opacity: 1;
    }
    50%{
        height: 27px;
    }
    100%{
        height: 40px;
    }
}
.part03 .volcano-wrap .volcanoBody .volcanoTop .ma03{
    position: absolute;
    top: 22%;
    right: 0%;
    width: 17px;
    height: 38px;
    border-radius: 50px;
    background: #FA7A34;
    animation: magmaDrop3 4.5s ease-out  infinite ;
    animation-delay: 0.5s;
}
@keyframes magmaDrop3{
    0%{
        height: 17px;
    }
    50%{
        height: 22px;
    }
    100%{
        height: 42px;
    }
}
.part03 .volcano-wrap .volcanoBody .volcanoTop .ma04{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 17px;
    height: 25px;
    border-radius: 50px;
    background: #FA7A34;
    animation: magmaDrop4 5s linear  infinite ;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes magmaDrop4{
    0%{
        top: 40%;
    }
    50%{
        top: 55%;
        opacity: 1;
    }
    80%{
        top: 67%;
        opacity: 0.7;
    }
    100%{
        top: 83%;
        opacity: 0;
    }
}
.part03 .p06_volcano {
    position: absolute;
    top: 26%;
    left: 6%;
}

.part03 .p06_tree01 {
    position: absolute;
    top: 25.5%;
    left: 1%;
}

.part03 .p06_tree02 {
    position: absolute;
    top: 28%;
    left: 39%;
}

.part03 .p06_tree03 {
    position: absolute;
    top: 30%;
    left: 32%;
    z-index: 101;
}

.part03 .p06_tree04 {
    position: absolute;
    top: 27%;
    right: 22%;
}

.part03 .p06_tree05 {
    position: absolute;
    top: 28%;
    right: 2%;
}

.part03 .title.t01 {
    /* 기후변화의 요인 */
    position: absolute;
    top: 18%;
    left: 30px;
}

.part03 .txtbox.txt01 {
    /* 자연적 원인 */
    position: absolute;
    top: 19.5%;
    right: 4%;
}

/* p07 */
/* p07_image */

.part03 .p07_pibi {
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.part03 .bulid-wrapper{
    position: absolute;
    width: 580px;
    height: 490px;
    top: 38.5%;
    right: 0;
}
.part03  .bulid-wrapper .cloud{
    width: 100%;
}
.part03  .bulid-wrapper .cloud img{
    position: absolute;
}
.part03  .bulid-wrapper .cloud .cloud01{
    left: 60%;
    top: 35%;
    animation: cloudMove 6s linear infinite ;
}
@keyframes cloudMove{
    from{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-200px);
        opacity: 1;
    }
}

.part03  .bulid-wrapper .smoke{
    width: 100%;
    height: 180px;
    position: relative;
    top: 12%;
}
.part03  .bulid-wrapper .smoke img{
    position: absolute;
}
.part03  .bulid-wrapper .smoke .smoke01{
    bottom: 0;
    left: 77.8%;
    animation: smoke 4s infinite ease;
}
.part03  .bulid-wrapper .smoke .smoke02{
    bottom: 10%;
    left: 73.5%;
    animation: smoke 4s infinite ease;
    animation-delay: 0.5s;
}
.part03  .bulid-wrapper .smoke .smoke03{
    bottom: 52%;
    left: 55%;
    animation: smoke 4s infinite ease;
    animation-delay: 0.8s;
}
@keyframes smoke{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
        opacity: 0;
    }
}
.part03  .bulid-wrapper .smoke .smoke1{
    bottom: 10%;
    left: 88.7%;
    animation: smoke 5.1s infinite ease;
}
.part03  .bulid-wrapper .smoke .smoke2{
    bottom: 20%;
    left: 84%;
    animation: smoke 5.1s infinite ease;
    animation-delay: 0.4s;
}
.part03  .bulid-wrapper .smoke .smoke3{
    bottom: 42%;
    left: 76%;
    animation: smoke 5.1s infinite ease;
    animation-delay: 0.8s;
}
.part03  .bulid-wrapper .smoke .smoke4{
    bottom: 63%;
    left: 65%;
    animation: smoke 5.1s infinite ease;
    animation-delay: 1.2s;
}
.part03  .bulid-wrapper .black{
    position: absolute;
    bottom: 5%;
    left: 31%;
    z-index: 2000;
}
.part03  .bulid-wrapper .black .building{
    position: absolute;
    bottom: 23%;
    left: 80%;
}
.part03  .bulid-wrapper .pop{
    position: absolute;
    bottom: 7%;
    left: 30%;
    z-index: 2100;
    width: 30px;
    height: 1px;
}
.part03  .bulid-wrapper .pop div{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #292222;
}
.part03  .bulid-wrapper .pop .pop01{
    left: 0px;
    top: 2px;
    animation: bubble 0.5s alternate infinite;
}
@keyframes bubble{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
.part03  .bulid-wrapper .pop .pop02{
    left: 10px;
    top: 3px;
    animation: bubble02 0.5s alternate infinite;
    animation-delay: 0.1s;
}
@keyframes bubble02{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.4);
    }
}
.part03  .bulid-wrapper .pop .pop03{
    left: 5px;
    top: 6px;
    animation: bubble03 0.5s alternate infinite;
    animation-delay: 0.2s;
}
@keyframes bubble03{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.4);
    }
}

.part03  .bulid-wrapper .pop .pop04{
    right: 6px;
    top: 7px;
    animation: bubble04 0.5s alternate infinite;
    animation-delay: 0.6s;
}
@keyframes bubble04{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.5);
    }
}
.part03  .bulid-wrapper .pop .pop05{
    right: 0px;
    top: 1px;
    animation: bubble05 0.5s alternate infinite;
}
@keyframes bubble05{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
.part03  .bulid-wrapper .other-wave{
    position: absolute;
    bottom: 0%;
    left: 0%;
    /* background: #287ABB; */
    width: 220px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.part03  .bulid-wrapper .other-wave .wave{
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    background-image: url(svg/p07/wave01.svg);
    background-size: 100px 50px;

}
.part03 .bulid-wrapper .other-wave .wave.wave01{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
@keyframes wave{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100px;
    }
}
.part03  .bulid-wrapper .other-wave .wave.wave02{
    animation: wave2 15s linear infinite;
    z-index: 990;
    opacity: 0.9;
    animation-delay: -5s;
    bottom: 4px ;
    background-image: url(svg/p07/wave03.svg);
    background-size: 100px 50px;
}
.part03  .bulid-wrapper .other-wave .wave.wave03{
    animation: wave2 18s linear infinite;
    z-index: 980;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: 8px ;
    background-image: url(svg/p07/wave02.svg);
    background-size: 100px 50px;
}
.part03  .bulid-wrapper .other-wave .wave.wave04{
    animation: wave2 7s linear infinite;
    z-index: 970;
    opacity: 0.7;
    animation-delay: -1s;
    bottom: 10px ;
    background-image: url(svg/p07/wave04.svg);
    background-size: 100px 50px;
}
@keyframes wave2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -100px;
    }
}
.part03  .bulid-wrapper .trash{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items:center;
    position: absolute;
    width: 110px;
    left: 23%;
    bottom: 6px;
    z-index: 980;
    
}
.part03  .bulid-wrapper .trash .trash01{
    animation: upDown 1s alternate infinite;
}
@keyframes upDown {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-2px);
    }
}
.part03  .bulid-wrapper .trash .trash02{
    animation: upDown2 1.1s alternate infinite;
}
@keyframes upDown2 {
    from{
        transform: translateY(-2px);
    }
    to{
        transform: translateY(0px);
    }
}
.part03  .bulid-wrapper .trash .trash03{
    animation: upDown 0.9s alternate infinite;
}
.part03  .bulid-wrapper .trash .trash04{
    animation: upDown2 0.9s alternate infinite;
}

.part03 .p07_tree01 {
    position: absolute;
    top: 33.7%;
}

.part03 .p07_tree02 {
    position: absolute;
    top: 43%;
    left: 7%;
}

.part03 .txtbox.txt02 {
    /* 인위적 원인 */
    position: absolute;
    top: 38%;
    left: 6%;
}


/* p08 */
/* p08_image */

.part03 .p08_pibi {
    position: absolute;
    top: 56.7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.part03 .p08_mount {
    position: absolute;
    top: 57%;
    right: 4%;
}

.part03 .p08_tree01 {
    position: absolute;
    top: 51.5%;
}

.part03 .p08_tree02 {
    position: absolute;
    top: 59.8%;
    left: 22%;
}

.part03 .p08_tree03 {
    position: absolute;
    top: 62%;
    left: 6%;
}

.part03 .title.t02 {
    /* 기후변화의 영향 */
    position: absolute;
    top: 52.5%;
    right: 30px;
}

/* minibee---- */
.minibee a{
    color: #FEA832;
    font-size: 25px;
    margin: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.part03 .minibee {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.part03 .minibee.txt03 {
    top: 58.7%;
    right: 13%;
}

.part03 .minibee.txt03 .move-bee {
    bottom: 50px;
    right: 30px;
    position: absolute;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee.txt03 #arrow {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.part03 .txtbox.txt03 {
    /* 1.수종의 변화 */
    position: absolute;
    top: 59%;
    right: 0;
    display: none;
}

.part03 .minibee.txt04 {
    flex-direction: row-reverse;
    top: 53.8%;
    left: 26%;
}

.part03 .minibee.txt04 .move-bee {
    position: absolute;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee.txt04 #arrow {
    position: absolute;
    margin-right: 50px;
}

.part03 .txtbox.txt04 {
    /* 2.해충의 증가 */
    position: absolute;
    top: 54.5%;
    left: 0;
    display: none;
}

/* p09 */
/* p09_image */

.part03 .p09_pibi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 73.2%;
    z-index: 100;
}

.part03 .p09_fish01 {
    position: absolute;
    top: 71.25%;
    left: 15%;
    animation: swim 10s ease-in-out infinite;
}

.part03 .p09_fish02 {
    position: absolute;
    top: 71.2%;
    left: 38%;
    animation: swim 8s reverse ease-in-out infinite;
}

.part03 .p09_fish03 {
    position: absolute;
    top: 71.5%;
    left: 49%;
    animation: swim 12s reverse ease-in-out infinite;
}

@keyframes swim {
    from {
        transform: translateX(0);
        opacity: 0;

    }

    to {
        transform: translateX(300px);
        opacity: 1;

    }
}

.part03 .p09_tree01 {
    position: absolute;
    top: 68.5%;
    right: 2%;
}

.part03 .p09_tree02 {
    position: absolute;
    top: 69.2%;
    right: 15%;
}

.part03 .p09_tree03 {
    position: absolute;
    top: 77%;
    left: 15%;
}

.part03 .p09_tree04 {
    position: absolute;
    top: 78%;
    left: 7%;
}

.part03 .p09_tractor {
    position: absolute;
    top: 80%;
    right: 10%;
    animation: tractor 1.5s linear;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes tractor {
    from {
        right: 10%;
    }

    to {
        right: 28%;
    }
}


.part03 .p09_farm {
    position: absolute;
    top: 79.9%;
    right: 0;
}

.part03 .minibee.txt05 {
    flex-direction: row-reverse;
    top: 72.2%;
    left: 13%;
    width: 200px;
    height: 50px;
}

.part03 .minibee.txt05 .move-bee {
    position: absolute;
    left: 0;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee.txt05 #arrow {
    position: absolute;
    right: -10%;
    margin-right: 50px;
}

.part03 .txtbox.txt05 {
    /* 3.생물 다양성 감소 */
    position: absolute;
    top: 73.4%;
    left: 0;
    display: none;
}

.part03 .minibee.txt06 {
    flex-direction: row-reverse;
    top: 79.1%;
    right: 23%;
}

.part03 .minibee.txt06 .move-bee {
    position: absolute;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee.txt06 #arrow {
    position: absolute;
    margin-right: 50px;
}

.part03 .txtbox.txt06 {
    /* 4.농산 */
    position: absolute;
    top: 74%;
    right: 0;
    display: none;
}

/* p10 */
/* p10_image */

.part03 .p10_pibi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 89.5%;
    z-index: 100;
}

.part03 .p10_lake {
    position: absolute;
    top: 85%;
}

.part03 .p10_fish01 {
    position: absolute;
    top: 86%;
    left: 24%;
    z-index: 8;
    animation: floating 5s ease-in-out infinite;
}

.part03 .p10_fish02 {
    position: absolute;
    top: 86.4%;
    left: 13%;
    z-index: 8;
    animation: floating 6s ease-in-out infinite;
}

.part03 .p10_fish03 {
    position: absolute;
    top: 86.8%;
    left: 9%;
    z-index: 8;
    animation: floating 3s ease-in-out infinite;
}

.part03 .p10_wave {
    position: absolute;
    top: 94.9%;
    left: 5%;
    animation: seawave 5s;
    animation-fill-mode: both;
    /* 재생 전에는 첫 번째 키프레임 스타일을, 재생 후에는 마지막 키프레임 스타일을 유지한다. */
    transform-origin: left bottom;
    /* 기준점 변경. transform-origin: x축 y축 */
    animation-play-state: paused;
}

@keyframes seawave {
    from {
        left: 0%;
        transform: scale(100%);
    }

    to {
        left: 80%;
        transform: scale(150%);
    }
}

.part03 .minibee.txt07 {
    flex-direction: row-reverse;
    top: 88.5%;
    left: 16%;
}

.part03 .minibee.txt07 .move-bee {
    position: absolute;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee.txt07 #arrow {
    position: absolute;
    margin-right: 50px;
}

.part03 .txtbox.txt07 {
    /* 5.수산 */
    position: absolute;
    top: 89.2%;
    left: 2%;
    display: none;
}

.part03 .minibee.txt08 {
    flex-direction: row-reverse;
    bottom: 6.65%;
    right: 10%;
}

.part03 .minibee.txt08 .move-bee {
    position: absolute;
    background-color: transparent;
    offset: path('M53.11,20.91S40.09,.59,21.87,.59C6.01,.59-.02,14.56,.53,21.93c.43,5.65,3.4,19.91,21.33,21.44C42.76,45.15,62.76,2.37,85.87,.59c21.71-1.67,21.56,19.89,21.56,21.33s-.89,21.44-21.56,21.44c-12.78,0-24.93-12.35-32.76-22.46Z') auto;
    animation: moveto 3.5s infinite linear;
}

.part03 .minibee .move-bee::after {
    content: url(./svg/moveBee.svg);
    display: block;
}

@keyframes moveto {
    from {
        offset-distance: 0%
    }

    to {
        offset-distance: 100%;
    }
}

.part03 .minibee.txt08 #arrow {
    position: absolute;
    margin-right: 50px;
}

.part03 .txtbox.txt08 {
    /* 6.해수면의높이 */
    position: absolute;
    bottom: 7.3%;
    right: 0;
    display: none;
}

/* p11 */

/* 기후변화의 영향 */
.part04 {
    height: 1080px;
    position: relative;
    box-sizing: border-box;
}

/* p11_image */

.part04 .p11_pibi {
    top: 13%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.part04 .cycle {
    position: absolute;
    top: 25%;
    z-index: 1001;
    background-image: url(svg/p11/p11_climatecycle.svg);
    background-repeat: no-repeat;
}

#p11_cycle {
    stroke-dasharray: 300 3600;
    animation: stroke-ani 8s linear infinite;
    stroke-linecap: round;
}

@keyframes stroke-ani {
    from {
        stroke-dashoffset: 3903;
    }

    to {
        stroke-dashoffset: 0;
    }
}




.part04 .title {
    /* 기후변화의 영향 */
    position: absolute;
    top: 7%;
    left: 30px;
}

.part04 .txtbox-wrap {
    position: absolute;
    bottom: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.part04 .txtbox {
    width: 20%;
    padding: 60px 10px;
    box-sizing: border-box;
    background: none;
}

.part04 .txtbox .txt {
    padding: 80px 50px;
    line-height: 180%;
}

/* p12 */

/* 정부와 우리의 대응 */
.part05 {
    background-image: url(svg/p12-13/p12_load.svg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
}
.part05 .line-bg01{
    background-image: url(svg/loard-line-Bg.svg);
    width: 50%;
    height: 60px;
    position: absolute;
    bottom: 13.635%;
}
.part05 .line-bg02{
    background-image: url(svg/loard-line-Bg.svg);
    width: 50%;
    height: 60px;
    position: absolute;
    right: 0%;
    bottom: 5.955%;
}
.part05 .w1280 {
    height: 2160px;
    position: relative;
}

/* p12_image */

.part05 .p12_pibidesk {
    top: 22.8%;
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    z-index: 110;
}
.part05 .p12_pibi {
    top: 17.4%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.part05 .p12_wind {
    position: absolute;
    top: 8%;
    height: 40%;
    width: 40%;
    object-fit: contain;
    z-index: 1;
}

.part05 .wind01 {
    position: absolute;
    top: 23.3%;
    left: 9.8%;
    animation: wind 4s infinite linear;
}
.part05 .fan01 {
    position: absolute;
    top: 23.45%;
    left: 9.95%;
    animation: spin 3s infinite linear;
    z-index: 1;
}
.part05 .wind02 {
    position: absolute;
    top: 23.2%;
    left: 29.6%;
    animation: wind 4s infinite linear;
    z-index: 1;

}
.part05 .fan02 {
    position: absolute;
    top: 23.45%;
    left: 30%;
    animation: spin 3s infinite linear;
    z-index: 1;
}

@keyframes wind {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



.part05 .p12_city {
    position: absolute;
    top: 17.5%;
}

.part05 .p12_town {
    position: absolute;
    top: 33.3%;
    right: 28%;
    display: none;
}

.part05 .p12_lamppost {
    position: absolute;
    top: 30%;
    right: 16%;
}

.part05 .p12_tree01 {
    position: absolute;
    top: 34%;
    right: 10%;
}

.part05 .p12_tree02 {
    position: absolute;
    top: 35%;
    left: 5%;
}

.part05 .title {
    position: absolute;
    top: 5%;
    right: 30px;
}

.part05 .txtbox.txt01 {
    position: absolute;
    top: 14%;
    right: 0%;
}

.part05 .txtbox.txt01 ul {
    width: 210px;
}

/* p13 */
/* p13_image */

.part05 .p13_pibi {
    bottom: 18%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.part05 .p13_lamp01 {
    position: absolute;
    bottom: 41.5%;
    left: 27%;
    display: none;
}

.part05 .p13_lamp02 {
    position: absolute;
    bottom: 16%;
    left: 20%;
}

.part05 .p13_recycle {
    position: absolute;
    bottom: 41.5%;
    right: 25%;
}

.part05 .p13_tree01 {
    position: absolute;
    bottom: 21%;
    left: 14%;
    display: none;
}

.part05 .p13_tree02 {
    position: absolute;
    bottom: 33%;
    left: 32%;
    display: none;
}

.part05 .p13_planting {
    position: absolute;
    bottom: 13%;
}

.part05 .p13_car {
    position: absolute;
    bottom: 16%;
    right: 0;
}

.part05 .txtbox.txt02 {
    position: absolute;
    top: 60%;
    left: 0%;
}

/* p14 */

/* 마지막 페이지 */
.part06 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.together {
    height: 400px;
    position: relative;
}

.together div.txtbox {
    width: 280px;
    background: rgba(247, 247, 247, 0.7);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(65%);
    font-size: var(--midium-font-);
}

/* p14_image */
.part06 .p14_pibi {
    bottom: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.part06 .p14_bee01 {
    position: absolute;
    top: 10%;
    left: 35%;
    animation: floating 4s infinite;
}

.part06 .p14_bee02 {
    position: absolute;
    top: 20%;
    left: 20%;
    animation: floating01 3s infinite;
}

.part06 .p14_bee03 {
    position: absolute;
    top: 26%;
    left: 29%;
    animation: floating 5s infinite;
}

.part06 .p14_bee04 {
    position: absolute;
    top: 9%;
    right: 34%;
    animation: floating01 3s infinite;
}

.part06 .p14_bee05 {
    position: absolute;
    top: 13%;
    right: 18%;
    animation: floating 2s infinite;
}

.part06 .p14_bee06 {
    position: absolute;
    top: 20%;
    right: 28%;
    animation: floating01 4s infinite;
}

@keyframes floating01 {

    0%,
    100% {
        transform: translate(5px, 10px);
    }

    50% {
        transform: translate(-5px, -10px);
    }
}


.part06 .sign {
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 83.5%; */
}

.part06 .sign>div {
    position: relative;
    margin-right: 140px;
}

.part06 .sign>div:last-child {
    margin-right: 0;
}

.part06 .sign>div>a {
    width: 201px;
    height: 98px;
    line-height: 30px;
    font-size: var(--large-font-);
    color: var(--white-color-);
    padding-top: 20px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    position: absolute;
    top: 15px;
}

.part06 .sign>div:first-child>a {
    padding-top: 30px;
}

/* footer */
footer {
    background-image: url(images/p14/p14_footerBg.png);
    background-repeat: repeat-x;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: var(--small-font-);
    color: var(--white-color-);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -170px;
    z-index: 1000;
}

footer .w1280 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .w1280 .btmTxt {
    width: 280px;
    line-height: 180%;
}

footer .w1280 .btm-wrap {
    display: flex;
    flex-direction: column;
}

footer .w1280 .btm-wrap .btmNav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer .w1280 .btm-wrap .btmNav ul li {
    margin-right: 15px;
}

footer .w1280 .btm-wrap .btmNav ul li:last-child {
    margin-right: 0;
}

footer .w1280 .btm-wrap .btmNav ul li:last-child a {
    color: var(--yellow-color-);
    font-weight: bold;
}

footer .w1280 .btm-wrap .btmNav ul li a {
    color: var(--white-color-);
}

footer .w1280 .btm-wrap .copyright {
    font-style: normal;
}

footer .w1280 .sns {
    width: 180px;
}

footer .w1280 .sns ul {
    display: flex;
    justify-content: space-between;
}

footer .w1280 .sns ul > li:hover > a {
    
}



footer .w1280 .f-site {
    width: 130px;
    text-align: center;
    position: relative;
}

footer .w1280 .f-site>ul>li {
    line-height: 40px;
}

footer .w1280 .f-site>ul>li>a {
    border: 1px solid var(--white-color-);
    color: var(--white-color-);
}
footer .w1280 .f-site>ul>li>a i {
    margin-left: 8px;
}

footer .w1280 .f-site .f-site-subNav {
    width: 130px;
    background: var(--white-color-);
    position: absolute;
    bottom: 41px;
    display: none;
}

footer .w1280 .f-site .f-site-subNav>li a {
    color: var(--dark-gray-color-);
}

footer .w1280 .f-site .f-site-subNav>li a:hover {
    background: #eee;
}